<Layouts.app flash={@flash}>
  <.search on_search="search" search_value={@search_query} search_placeholder="Buscar ciudad" />
  <%= if Enum.any?(@results) do %>
    <.search_results results={@results} />
  <% end %>
  <%= if Enum.any?(@city_forecast) do %>
    <.forecast_details forecast_data={@city_forecast} />
  <% end %>
  <.footer />
</Layouts.app>
